*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}

.b1{
    width: 100%;
    height: 100vh;
    background-color: black;
    background-size: cover;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 100px;
    margin-left: 850px;
}
nav ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
}
nav ul li a{
    color: white;
    position: relative;
    padding: 5px 0;
}
nav ul li a:hover{
    color: #4CC4FC;
}
nav ul li a:after{
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 3px;
    background: #4CC4FC;
    transition: .3s;
    bottom: 0;
}
nav ul li a:hover:after{
    width: 100%;
}
.btn{
    position: absolute;
    top: 250px;
    left: -6px;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 16px 50px;
    border-radius: 500px;
    display: inline-block;
    font-weight: 500;
    transition: all .4s ease-in-out;
    background-size: 152% 100%;
    background: #4CC4FC;
    border: 2px solid #4CC4FC;
}
.btn:hover{
    background: transparent;
    border-color: #4CC4FC;
    color: #4CC4FC;
}
.content{
    position: absolute;
    top: 35%;
    left: 8%;
}
.content .title{
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 4px;
    display: inline-block;
    margin-bottom: 20px;
}
.content h1{
    color: white;
    font-size: 75px;
    font-weight: 900;
    line-height: 90px;
    text-transform: inherit;
    width: 70%;
}
.content h1 span{
    color: #4CC4FC;
}
.content .typing{
    width: 55%;
    font-size: 30px;
    color:#4cc4fc;
    margin-top: 25px;
    margin-bottom: 30px;
}

.content h2{
    color:#fff;
}
